*.ipch
*.suo
*.db
*.pdb
*.exe
*.ilk
.vs
.tmp
*.tlog
*.obj
*.idb
*.log
*.exp
*.iobj
*.ipdb
bin
Debug
Release

# === Others ===
# vscode
.vscode
# Doxygen output
/docs
# Obsidian (markdown editor)
.obsidian 
